@charset "UTF-8";
/* This is a comment! Text here will be ignored by the browser. */
body {
	margin: 0 auto;
}
.homePage {
	background: #867351;
}
.container {
	width: 960px;
	margin: 0 auto;
}
.header {
	background: #ECCA8E;
	text-align: center;
	margin: 0px;
	padding: 5;
	float: left;
	width: 100%;
	height: 80px;
	
}
.nav {
	background: #F5D192;
	margin: 0px;
	padding: 5;
	float: left;
	width: 100%;
	height: 60px;
	text-align: center;
}
.content {
	background: #CAAD79;
	margin: 0px;
	float: left;
	width: 100%;
	text-align: center;
}
.footer {
	background: #A89065;
	margin: 0px;
	float: left;
	width: 100%;
	height: 50px;
	text-align: center;
}
