@charset "UTF-8";
/* This is a comment! Text here will be ignored by the browser. */
body {
	margin: 0 auto;
	 font: 100%/1.4 Verdana, Arial, Helvetica, sans-serif;
}
.homePage {
	background: #444C86;
}
.container {
	width: 960px;
	margin: 0 auto;
}
.header {
	background: #7D8AF5;
	text-align: center;
	margin: 0px;
	padding: 5;
	float: left;
	width: 100%;
	height: 80px;
}
.nav {
	background: #7986EC;
	margin: 0px;
	padding: 5;
	float: left;
	width: 100%;
	height: 60px;
	text-align: center;
}
.content {
	background: #565FA8;
	margin: 0px;
	float: left;
	width: 100%;
	text-align: left;
}
.footer {
	background: #6773CA;
	margin: 0px;
	float: left;
	width: 100%;
	height: 50px;
	text-align: center;
}
a:link {
     color: #F2EAE7;
}
a:visited {
     color: #F2EAE7;
}
a:hover, a:active, a:focus { 
     text-decoration: underline;
}
